<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <div class="landing">
        <div class="img">
            <img src="/Image/logo.png" alt="">
            <p>Create account or login</p>
        </div>
        <div class="rL">
            <p> <a href="/login">Login</a></p>
            <p><a href="/register">Register</a></p>
        </div>
    </div>
    
    <footer>
        <p>&copy; Developed By Rakib Uddin </p>
    </footer>
</body>
</html>