<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/Style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div class="landing">
        <div class="img">
            <img src="/Image/login.png" alt="">
            <h2>Login</h2>
        </div>
        <div class="logForm">
            <p>Email</p>
            <input type="text" placeholder="Enter Email...">
            <p>Password</p>
            <input type="text" placeholder="Enter Password...">
            <h4> <a href="#">Login</a> </h4>
            <p>Don't have any account? <a href="/register">Register</a></p>
            <span><a href="/login">Forgot Password?</a></span>
        </div>
    </div>

    <footer>
        <p>&copy; Developed By Rakib Uddin </p>
    </footer>
</body>
</html>