<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/Style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <div class="landing">
        <div class="img">
            <img src="/Image/reg.png" alt="">
            <h2>Register</h2>
        </div>
        <div class="regForm" >
            <form method="POST" action="/register">
                <p>Name</p>
                <%= errn %>
                <input type="text" placeholder="Enter Name..." name="name">
                <p>Email</p>
                <%= erre %>
                <input type="email" placeholder="Enter Email..." name="email">
                <p>Password</p>
                <%= errp %>
                <input type="password" placeholder="Enter Password..." name="password">
                <p>Confirm Password</p>
                <input type="password" placeholder="Confirm Password..." name="cpassword">
                <button type="submit" >Register</button>
                <p>Have an account? <a href="/login">Login</a></p>
            </form>
        </div>
    </div>

    <footer>
        <p>&copy; Developed By Rakib Uddin </p>
    </footer>
</body>
</html>